.btn {
  @include main-element;
  color: $colorWhite;
  @include transition-slow;
  text-transform: uppercase;
  background-color: $primary;
  color: $colorWhite;
}

.btn-regular {
  @extend .btn;
  width: 150px;
  height: 40px;
  margin: 20px auto;
}

.btn-outline {
  @extend .btn-regular;
  background-color: transparent;
  @include border(2px);
  color: $primary;

  &:hover {
    border-color: $primary;
    color: $colorWhite;
    background-color: $primary;
  }

  @include btn-outline('restart', $colorGreen, $colorGreen);
  @include btn-outline('play-with-ai', $colorScarlet, $colorScarlet);
  @include btn-outline('game-for-two', $colorDarkYellow, $colorDarkYellow);
}
