.btn {
  @include main-element;
  @include transition-slow;
  text-transform: uppercase;
  background-color: $primary;
  color: $colorWhite;
  padding: 14px 20px;

  @include btn('green', $colorGreen, $colorGreen);
  @include btn('scarlet', $colorScarlet, $colorScarlet);
  @include btn('dark-yellow', $colorDarkYellow, $colorDarkYellow);
  @include bg-color();
}

.btn-text {
  @extend .btn;
  background-color: inherit;
}

.btn-outlined {
  @extend .btn;
  background-color: transparent;
  @include border(2px);
  color: $primary;

  &:hover {
    border-color: $primary;
    color: $colorWhite;
    background-color: $primary;
  }
}
