.btn {
  @include main-element;
  color: $colorWhite;
  @include transition-slow;
}

.btn-restart {
  @extend .btn;
  width: 150px;
  height: 40px;
  background-color: $colorGreen;
  margin: 20px auto;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-restart:hover {
  background-color: $colorLightBlue;
}
