.menu {
  margin: auto;
  padding: 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: $colorBlackViolet;

  &__link {
    @include transition-slow;
    @include main-element;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: $colorWhite;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 5px;
  }

  .router-link-active {
    @include border(2px, solid, $colorGreen);
    color: $colorGreen;
  }

  &__link:hover {
    background: $colorGreen;
    color: $colorWhite;
  }
}
