$primaryColor: #ea8d87;
$secondaryColor: #009688;

.scores {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  font-size: 1.5em;
  box-sizing: border-box;

  &__text {
    color: $primaryColor;
  }

  &--color-secondary {
    color: $secondaryColor;
  }
}
