// colors
$colorScarlet: #ea8d87;
$colorTurquoise: #009688;
$colorGreen: #8BC34A;
$colorLightBlue: #95cbe4;
$colorWhite: #ffffff;
$colorRed: #df3222;
$colorDark: #353535;
$colorYellow: #ffee00;
$colorDarkYellow: #b9b02b;
$colorBlack: #080504;
$colorBlackViolet: #140d29;
// base colors
$primary: #afafaf;
