// colors
$colorScarlet: #ea8d87;
$colorTurquoise: #009688;
$colorGreen: #8BC34A;
$colorLightBlue: #95cbe4;
$colorWhite: #ffffff;
$colorRed: #df3222;
$colorDark: #353535;
// base colors
$primary: #afafaf;
