// base
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: url(../assets/img/bg.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}

canvas {
  cursor: pointer;
  outline: 0;
}
// rules
$mpx: 1, 2, 3;

@each $m in $mpx {
  .m-#{$m} {
    margin: $m * 6px;
  }
}

// variables
@import './variables';
// mixins
@import './mixins/bem-mixins';
@import './mixins/mixins';
// pages
@import './pages/home';
// base elements
@import './components/menu';
@import './components/scores';
@import './components/button';
@import './components/message';
@import './components/modes';
// games
@import './games';
@import './tictactoe';
