// base
body {
  background: url(../assets/img/bg.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}

canvas {
  cursor: pointer;
  outline: 0;
}
// variables
@import "./variables";
// mixins
@import "./mixins/bem-mixins";
@import "./mixins/mixins";
// pages
@import "./pages/home";
// base elements
@import "./components/menu";
@import "./components/scores";
@import "./components/button";
@import "./components/message";
@import "./components/modes";
// games
@import "./games";
@import "./tictactoe";
