// base
* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: url(../assets/img/bg.jpg) no-repeat center;
  background-size: cover;
}

canvas {
  cursor: pointer;
  outline: 0;
}

main {
  display: grid;
  max-width: 1440px;
  height: 100vh;
  grid-template-columns: 300px 1fr;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

// rules
$mpx: 1, 2, 3;

@each $m in $mpx {
  .m-#{$m} {
    margin: $m * 6px;
  }
}

// variables
@import './variables';
// mixins
@import './mixins/bem-mixins';
@import './mixins/mixins';
// base elements
@import './components/menu';
@import './components/scores';
@import './components/button';
@import './components/message';
@import './components/modes';
// games
@import './games';
@import './tictactoe';
