@mixin btn(
  $nameModifier,
  $colorOriginal: $primary,
  $colorHover: $primary,
  $colorTextHover: $colorWhite
) {
  &--#{$nameModifier} {
    border-color: $colorOriginal;
    color: $colorOriginal;
  }
  &--#{$nameModifier}:hover {
    border-color: $colorHover;
    color: $colorTextHover;
    background-color: $colorHover;
  }
}

@mixin modifiers-message {
  &--primary {
    color: $primary;
    border-color: $primary;
  }
  &--error {
    color: $colorRed;
    border-color: $colorRed;
  }
  &--over {
    color: $colorGreen;
    border-color: $colorGreen;
  }
}

@mixin color {
  &--c-white {
    color: $colorWhite;
  }
  &--c-light-blue {
    color: $colorLightBlue;
  }
  &--c-green {
    color: $colorGreen;
  }
  &--c-turquoise {
    color: $colorTurquoise;
  }
  &--c-scarlet {
    color: $colorScarlet;
  }
}

@mixin bg-color {
  &--bg-white {
    background-color: $colorWhite;
  }
  &--bg-light-blue {
    background-color: $colorLightBlue;
  }
  &--bg-green {
    background-color: $colorGreen;
  }
  &--bg-turquoise {
    background-color: $colorTurquoise;
  }
  &--bg-scarlet {
    background-color: $colorScarlet;
  }
  &--bg-transparent {
    background-color: transparent;
  }
}
