@mixin btn(
  $nameModifier,
  $colorOriginal: $primary,
  $colorHover: $primary,
  $colorTextHover: $colorWhite
) {
  &--#{$nameModifier} {
    border-color: $colorOriginal;
    color: $colorOriginal;
  }
  &--#{$nameModifier}:hover {
    border-color: $colorHover;
    color: $colorTextHover;
    background-color: $colorHover;
  }
}

@mixin color {
  &--c-white {
    color: $colorWhite;
  }
  &--c-light-blue {
    color: $colorLightBlue;
  }
  &--c-green {
    color: $colorGreen;
  }
  &--c-turquoise {
    color: $colorTurquoise;
  }
  &--c-scarlet {
    color: $colorScarlet;
  }
}

@mixin bg-color {
  &--bg-white {
    background-color: $colorWhite;
  }
  &--bg-light-blue {
    background-color: $colorLightBlue;
  }
  &--bg-light-blue:hover {
    background-color: darken($colorLightBlue, 15%);
  }
  &--bg-green {
    background-color: $colorGreen;
  }
  &--bg-green:hover {
    background-color: darken($colorGreen, 15%);
  }
  &--bg-turquoise {
    background-color: $colorTurquoise;
  }
  &--bg-turquoise:hover {
    background-color: darken($colorTurquoise, 15%);
  }
  &--bg-scarlet {
    background-color: $colorScarlet;
  }
  &--bg-scarlet:hover {
    background-color: darken($colorScarlet, 15%);
  }
  &--bg-transparent {
    background-color: transparent;
  }
}
