@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: $direction;
}

@mixin game($max-width: 800px) {
  @include flex-center(column);
  margin: auto;
  overflow-x: hidden;
  max-width: $max-width;
  height: 100%;
}

@mixin main-element {
  outline: 0;
  border: 0;
  cursor: pointer;
}

@mixin transition-slow {
  transition: 0.3s all ease;
}

@mixin border($width: 1px, $style: solid, $color: $primary) {
  border: $width $style $color;
}
